---
layout: default
---

{% assign data = site.data.home %}


  <section class="container mt5 mt5-ns pt2-ns">
    <p class="ttu pa0 mb3 mb1-ns f5 tertiary tracked">{{ data.hero.intro.tag[page.lang] }}</p>
    <h1 class="hero-headline ttu pa0 mt0 mb3 lh-solid nml">{{ data.hero.intro.big-text[page.lang] }}</h1>
      <div class="flex flex-row items-center justify-between pb2 pb0-ns">
        <a class="mw3 flex-shrink-0" href="/{{page.lang}}/about">
          <img src="/assets/anna-avatar.webp" alt="About Anna" class="br-100 mt1 grow-large" width="64" height="64">
        </a>
        <div class="bw1 bt b--faint w-100 mh3"></div>
        <div class="flex flex-row items-center">
          {% for profile in data.social_profiles %}
            <a
              class="dib h2 w2 mr3 br2 hover-rotate-left"
              href="{{ profile.url }}"
              title="{{ profile.title }}"
              target="_blank">
              <svg class="{{ profile.svg_class }} grow-large"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="{{ profile.svg_path }}" stroke-width="0.3" />
              </svg>
            </a>
          {% endfor %}
        </div>
      </div>
  </section>

  <section class="container-ns mt3 mt4-ns">
    <div class="overflow-hidden br3 br4-ns">
      <div class="carousel">
        <div class="carousel__wrapper">
          {% assign images = site.static_files | where_exp: "image", "image.path contains 'assets/hero-grid'" %}
          {% for image in images %}
            <div class="carousel__slide">
              <div class="carousel__image-wrapper">
                <img src="{{ image.path }}" class="br4" alt="" width="200" height="200">
              </div>
            </div>
          {% endfor %}
          {% for image in images %}
            <div class="carousel__slide">
              <div class="carousel__image-wrapper">
                <img src="{{ image.path }}" class="br4" alt="" width="200" height="200">
              </div>
            </div>
          {% endfor %}
          {% for image in images %}
            <div class="carousel__slide">
              <div class="carousel__image-wrapper">
                <img src="{{ image.path }}" class="br4" alt="" width="200" height="200">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
  <section class="container flex align-center flex-column flex-row-ns justify-between-ns mt4 nl2-ns nr2-ns">
    <div class="ph3 br4 pv2 bg-faint inline-flex flex items-center justify-center nowrap gap2 mb3 mb0-ns f5">
    Currently at <a href="https://shopflix.gr/" class="flex items-center link nowrap" target="_blank"><img src="/assets/logo-shopflix.svg" class="mr2 dib w2" alt="" width="32" height="32">Shopflix</a>
    </div>

    <div class="ph3-ns br4 pv2-ns bg-faint-ns inline-flex flex items-center justify-center flex-wrap gap2 f5">
      Previously at <a href="https://www.thesmilinghippo.com/" class="flex items-center link" target="_blank"><img src="/assets/logo-tsh.svg" class="mr2 dib w1 w2-ns" alt="" width="32" height="32">The Smiling Hippo</a> 
      <span class="tertiary">|</span> <a href="https://www.yourtempo.co/" class="flex items-center link nowrap" target="_blank"><img src="/assets/logo-tempo.png" class="mr2 dib w1 w2-ns" alt="" width="32" height="32">Tempo</a>
    </div>
  </section>


<section id="work" class="container">
  
  <div class="pt6 mb5 flex align-center items-center gap2">
    <h2 class="f1-ns ttu mv0 nowrap">Select Works</h2>
    <div class="bw1 bt b--faint w-100 mh3"></div>
  </div>  

  <div class="project-grid ">
    {% for project in site.data.works %}
      <div class="bg-faint mb3 overflow-hidden br4">
          {% if project.case_study %}
            <div class="overflow-hidden">
              <a href="{{ project.case_study.url }}" class="project-image db grow" aria-label="{{ project.title }} Case Study">
                <img src="{{ project.img }}" class="db" alt="" width="371" height="431">
              </a>
            </div>
          {% else %}
          <div class="project-image db">
            <img src="{{ project.img }}" class="db" alt="" width="371" height="431">
          </div>
            
          {% endif %}


        <div class="pa35">
          <div class="flex justify-between align-center">
            <h3 class="f4 mt0 mb2">{{ project.title }}</h3>
            <div class="tertiary">{{ project.year }}</div>
          </div> 
          
          <div class="secondary">{{ project.skills }}</div>
          <div class="mt3">
            {% if project.case_study %}
              <a href="{{ project.case_study.url }}" class="mr3 link">{{ project.case_study.title }}</a>
            {% else %}
              <div class="mr3 fw6 dib secondary">Case study soon</div>
            {% endif %}
            {% if project.live_site %}
              <a href="{{ project.live_site.url }}" target="_BLANK" class="fw4 link">{{ project.live_site.title }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  

</section>


<div class="container mt5">
  <a href="/{{page.lang}}/snippets" class="link">

    <div class="db br4 bg-faint flex flex-column flex-row-ns items-center-ns overflow-hidden grow-small">
      <div class="flex">
        {% for work in site.data.work-grid limit:2 %}
          <div style="min-width: 12rem;" class="w-50 br4 overflow-hidden">
            <div class="db aspect-ratio aspect-ratio--4x3">
            <span
              role="img"
              aria-label=""
              style="background-image:url({{work.img}});"
              class="bg-center cover aspect-ratio--object br2">
            </span>
          </div>
          </div>
        {% endfor %}
      </div>
  
      <div class="pa3 pl4-ns flex flex-column flex-shrink-1"> 
        <h2 class="ttu mt0 mb2">Snippets →</h2>
        <div class="measure fw4 secondary">
          Quick looks into other projects — for clients or&nbsp;for&nbsp;fun.
        </div>
      </div>
    </div>

  </a>
</div>  


{% include more.html %}