---
layout: default
---

{% assign data = site.data.home %}

<section class="container mt5">
  <div class="pt2-ns">
    <p class="ttu pa0 mb1 f5 tertiary tracked">{{ data.hero.intro.tag[page.lang] }}</p>
    <h1 class="hero-headline ttu pa0 mt0 mb2 mb3-l lh-solid nml">{{ data.hero.intro.big-text[page.lang] }}</h1>
      <div class="flex flex-row items-center justify-between">
        <a class="mw3 flex-shrink-0" href="/{{page.lang}}/about">
          <img src="/assets/anna-avatar.webp" alt="About Anna" class="br-100 mt1 grow-large">
        </a>
        <div class="bw1 bt b--faint w-100 mh3"></div>
        <div class="flex flex-row items-center">
          <a
            class="dib h2 w2 mr3 br3 hover-rotate-left"
            href="https://read.cv/ann"
            title="Read CV"
            target="_blank">
            <svg class="hover-orange grow-large"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2.09182 22.1186L2.09182 22.1186C1.477 24.396 2.83908 26.7347 5.13053 27.344L20.9602 31.5538C23.2511 32.1629 25.6077 30.814 26.2225 28.5374L26.0294 28.4853L26.2225 28.5374L31.2593 9.88124C31.874 7.60398 30.512 5.26522 28.2206 4.65585L12.3909 0.44627L12.3395 0.639552L12.3909 0.446269C10.1 -0.162928 7.74332 1.18595 7.12864 3.46263L2.09182 22.1186ZM23.8575 27.9069L23.8575 27.907C23.5939 28.8839 22.5807 29.466 21.5932 29.2033L5.76353 24.9937C4.77653 24.7312 4.19308 23.7257 4.45669 22.7492L9.49351 4.09308C9.75731 3.11604 10.7704 2.53401 11.7579 2.79664L11.7996 2.64006L11.7579 2.79664L27.5876 7.00622C28.5745 7.26868 29.158 8.27434 28.8943 9.25078L23.8575 27.9069ZM11.2802 7.72394L11.2802 7.72395C11.1046 8.37434 11.4939 9.04092 12.1462 9.21435L24.0184 12.3715C24.67 12.5448 25.3419 12.1614 25.5173 11.5116C25.6931 10.8612 25.3036 10.1946 24.6514 10.0212L12.7792 6.864C12.1275 6.69069 11.4557 7.07413 11.2802 7.72394ZM9.49517 19.0333L9.49522 19.0333L16.4207 20.875L16.4207 20.875C17.0724 21.0482 17.7442 20.6649 17.9196 20.0149C18.0952 19.3644 17.7059 18.6981 17.0537 18.5245L17.0537 18.5245L10.1282 16.6829C9.47654 16.5096 8.80471 16.893 8.62928 17.5428C8.45367 18.1933 8.84302 18.8597 9.49517 19.0333ZM11.4537 11.7734C10.802 11.6001 10.1302 11.9835 9.95475 12.6333C9.77914 13.2837 10.1685 13.9503 10.8207 14.1237L22.6929 17.2809C23.3446 17.4542 24.0165 17.0708 24.1918 16.4209C24.3673 15.7706 23.9782 15.104 23.3259 14.9306L11.4537 11.7734Z" stroke-width="0.3" />
            </svg>
          </a>
          <a
            class="dib h2 w2 mr3 br2 hover-rotate-left"
            href="https://linkedin.com/in/annafilou"
            title="LinkedIn"
            target="_blank">
            <svg class="hover-blue grow-large"
              width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.856 25.8613H21.7085V19.3635C21.7085 17.813 21.677 15.8197 19.549 15.8197C17.3877 15.8197 17.057 17.5068 17.057 19.2498V25.8613H12.9095V12.5H16.8925V14.32H16.945C17.5015 13.27 18.856 12.1623 20.8772 12.1623C25.0772 12.1623 25.856 14.9273 25.856 18.527V25.856V25.8613ZM8.2265 10.6712C6.893 10.6712 5.8185 9.5915 5.8185 8.2615C5.8185 6.935 6.893 5.85525 8.2265 5.85525C9.5565 5.85525 10.6345 6.935 10.6345 8.2615C10.6345 9.5915 9.55475 10.6712 8.2265 10.6712ZM10.3055 25.8613H6.1475V12.5H10.3055V25.8613ZM27.928 2H4.065C2.924 2 2 2.903 2 4.01775V27.9823C2 29.097 2.924 30 4.065 30H27.9262C29.0672 30 30 29.097 30 27.9823V4.01775C30 2.903 29.0672 2 27.9262 2H27.928Z"/>
            </svg>
          </a>
          <a
            class="dib h2 w2 mr3 br2 hover-rotate-left"
            href="https://github.com/anna-filou?tab=repositories"
            title="GitHub"
            target="_blank">
            <svg class="hover-light-purple grow-large"
              width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.0001 1C7.16463 1 0 8.08236 0 16.8192C0 23.8085 4.5845 29.7382 10.9419 31.8299C11.7415 31.9764 12.0351 31.4867 12.0351 31.0689C12.0351 30.6917 12.0201 29.4456 12.0134 28.1238C7.56213 29.0806 6.62288 26.2573 6.62288 26.2573C5.895 24.4289 4.84625 23.9425 4.84625 23.9425C3.39463 22.9608 4.95575 22.981 4.95575 22.981C6.56237 23.0925 7.40837 24.6111 7.40837 24.6111C8.8355 27.0295 11.1515 26.3304 12.0645 25.9261C12.2081 24.9038 12.6227 24.2058 13.0804 23.8108C9.5265 23.4109 5.79063 22.0544 5.79063 15.993C5.79063 14.2659 6.41563 12.8546 7.43913 11.7468C7.273 11.3484 6.72537 9.73952 7.59412 7.56045C7.59412 7.56045 8.93775 7.13531 11.9954 9.18203C13.2716 8.83153 14.6404 8.65579 16.0001 8.64974C17.3599 8.65579 18.7298 8.83141 20.0084 9.18203C23.0623 7.13544 24.404 7.56057 24.404 7.56057C25.2749 9.7394 24.727 11.3485 24.5609 11.7468C25.5867 12.8546 26.2075 14.2659 26.2075 15.993C26.2075 22.0689 22.4645 23.4067 18.9016 23.7983C19.4755 24.2892 19.9869 25.2519 19.9869 26.7278C19.9869 28.8443 19.9684 30.5479 19.9684 31.0689C19.9684 31.49 20.2564 31.9832 21.0674 31.8277C27.4213 29.7338 32 23.8062 32 16.8193C32 8.08235 24.8364 1 16.0001 1ZM5.99263 23.5347C5.95738 23.6133 5.83225 23.6369 5.71838 23.5829C5.60225 23.5314 5.53713 23.4242 5.57463 23.3454C5.60913 23.2644 5.7345 23.2418 5.85025 23.2961C5.9665 23.3477 6.03275 23.4559 5.99263 23.5347ZM6.77962 24.229C6.70337 24.299 6.55413 24.2665 6.45288 24.156C6.34825 24.0457 6.32863 23.8982 6.406 23.8272C6.48475 23.7573 6.62938 23.79 6.73425 23.9003C6.839 24.0119 6.85925 24.1583 6.77962 24.229ZM7.31962 25.1174C7.2215 25.1847 7.06125 25.1216 6.96212 24.9809C6.86412 24.8403 6.86413 24.6716 6.96425 24.604C7.06363 24.5364 7.2215 24.5972 7.32188 24.7368C7.41963 24.8798 7.41962 25.0485 7.3195 25.1175L7.31962 25.1174ZM8.23263 26.1462C8.145 26.2419 7.95812 26.2162 7.82137 26.0857C7.6815 25.9581 7.64263 25.7772 7.73063 25.6815C7.81938 25.5856 8.00725 25.6126 8.145 25.7421C8.28375 25.8694 8.32625 26.0517 8.23263 26.1462ZM9.41288 26.4935C9.37413 26.6174 9.19412 26.6738 9.013 26.6212C8.832 26.5669 8.71362 26.4218 8.75012 26.2966C8.78775 26.1718 8.9685 26.1132 9.151 26.1696C9.33175 26.2235 9.4505 26.3674 9.41288 26.4935ZM10.7559 26.6409C10.7604 26.7713 10.6068 26.8794 10.4165 26.8819C10.2253 26.8861 10.0704 26.7806 10.0682 26.652C10.0682 26.5204 10.2185 26.4133 10.4099 26.4101C10.6001 26.4064 10.7559 26.5112 10.7559 26.6409ZM12.0752 26.5909C12.098 26.7182 11.9659 26.8489 11.7769 26.8838C11.5912 26.9173 11.4193 26.8387 11.3956 26.7125C11.3726 26.582 11.5073 26.4512 11.6926 26.4175C11.8819 26.385 12.0511 26.4615 12.0752 26.5909Z"/>
            </svg>
          </a>
          <a
            class="dib h2 w2 mr3 br2 hover-rotate-left"
            href="https://twitter.com/that__anna"
            title="Twitter"
            target="_blank">
            <svg class="hover-blue grow-large"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill-rule="evenodd"
              clip-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="1.414">
              <path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" />
            </svg>
          </a>
          <a
            class="dib h2 w2 mr3 br-pill hover-rotate-left"
            href="https://dribbble.com/annafilou"
            title="Dribbble"
            target="_blank">
            <svg class="hover-pink grow-large"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill-rule="evenodd"
              clip-rule="evenodd">
              <path d="M3.90563 13.1071C5.02675 14.007 6.4505 14.5455 8 14.5455C8.8827 14.5455 9.72459 14.3707 10.493 14.054C10.2319 12.4828 9.75362 10.8607 9.0574 9.18781C7.10293 9.79236 5.39233 11.0959 3.90563 13.1071ZM2.86936 12.0648C4.47393 9.95478 6.34322 8.54784 8.46006 7.85159C8.32354 7.56565 8.18085 7.27828 8.03198 6.98948C7.65611 7.08987 7.26642 7.17657 6.86349 7.25023C5.24117 7.54681 3.83498 7.60457 1.55417 7.57197C1.52424 7.57155 1.49568 7.57114 1.4684 7.57075C1.45921 7.71265 1.45455 7.85578 1.45455 8C1.45455 9.53593 1.98358 10.9483 2.86936 12.0648ZM1.72865 6.11965C3.82908 6.14618 5.13453 6.08765 6.60191 5.8194C6.84581 5.77481 7.08342 5.72515 7.31464 5.67027C6.65694 4.51972 5.90392 3.34718 5.05535 2.15273C3.46562 2.95489 2.24763 4.38628 1.72865 6.11965ZM6.46948 1.63446C7.3208 2.85306 8.07735 4.05279 8.73889 5.23376C10.1329 4.69469 11.2149 3.89355 11.9522 2.782C10.854 1.9489 9.48475 1.45455 8 1.45455C7.47296 1.45455 6.96046 1.51684 6.46948 1.63446ZM13.019 3.79822C12.1411 5.02898 10.9275 5.9197 9.42873 6.52623C9.59305 6.85032 9.75003 7.17297 9.89968 7.49418C11.3441 7.24641 12.8913 7.29876 14.5364 7.6533C14.46 6.1892 13.9025 4.85247 13.019 3.79822ZM14.4493 9.12421C13.0432 8.7975 11.7284 8.71348 10.501 8.87398C11.1126 10.3832 11.5578 11.8599 11.8361 13.3041C13.1893 12.3238 14.1526 10.8382 14.4493 9.12421ZM8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16Z"/>
            </svg>
          </a>

          {% comment %} <a
            class="dib h2 w2 mr3 hover-bg-hot-pink br3 hover-rotate-left"
            href="https://instagram.com/brechdaslicht"
            title="Instagram"
            target="_blank">
            <svg
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill-rule="evenodd"
              clip-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="1.414"><path d="M8 0C5.827 0 5.555.01 4.702.048 3.85.088 3.27.222 2.76.42c-.526.204-.973.478-1.417.923-.445.444-.72.89-.923 1.417-.198.51-.333 1.09-.372 1.942C.008 5.555 0 5.827 0 8s.01 2.445.048 3.298c.04.852.174 1.433.372 1.942.204.526.478.973.923 1.417.444.445.89.72 1.417.923.51.198 1.09.333 1.942.372.853.04 1.125.048 3.298.048s2.445-.01 3.298-.048c.852-.04 1.433-.174 1.942-.372.526-.204.973-.478 1.417-.923.445-.444.72-.89.923-1.417.198-.51.333-1.09.372-1.942.04-.853.048-1.125.048-3.298s-.01-2.445-.048-3.298c-.04-.852-.174-1.433-.372-1.942-.204-.526-.478-.973-.923-1.417-.444-.445-.89-.72-1.417-.923-.51-.198-1.09-.333-1.942-.372C10.445.008 10.173 0 8 0zm0 1.44c2.136 0 2.39.01 3.233.048.78.036 1.203.166 1.485.276.374.145.64.318.92.598.28.28.453.546.598.92.11.282.24.705.276 1.485.038.844.047 1.097.047 3.233s-.01 2.39-.048 3.233c-.036.78-.166 1.203-.276 1.485-.145.374-.318.64-.598.92-.28.28-.546.453-.92.598-.282.11-.705.24-1.485.276-.844.038-1.097.047-3.233.047s-2.39-.01-3.233-.048c-.78-.036-1.203-.166-1.485-.276-.374-.145-.64-.318-.92-.598-.28-.28-.453-.546-.598-.92-.11-.282-.24-.705-.276-1.485C1.45 10.39 1.44 10.136 1.44 8s.01-2.39.048-3.233c.036-.78.166-1.203.276-1.485.145-.374.318-.64.598-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276C5.61 1.45 5.864 1.44 8 1.44zm0 2.452c-2.27 0-4.108 1.84-4.108 4.108 0 2.27 1.84 4.108 4.108 4.108 2.27 0 4.108-1.84 4.108-4.108 0-2.27-1.84-4.108-4.108-4.108zm0 6.775c-1.473 0-2.667-1.194-2.667-2.667 0-1.473 1.194-2.667 2.667-2.667 1.473 0 2.667 1.194 2.667 2.667 0 1.473-1.194 2.667-2.667 2.667zm5.23-6.937c0 .53-.43.96-.96.96s-.96-.43-.96-.96.43-.96.96-.96.96.43.96.96z" /></svg>
          </a> {% endcomment %}
        </div>
      </div>
  </div>
  <div class="cf mt3 br3 overflow-hidden">
    {% for image in site.static_files %}
      {% if image.path contains 'assets/hero-grid' %}
        <div class="fl w-50 w-25-ns">
          <div class="db aspect-ratio aspect-ratio--1x1">
            <span
              role="img"
              aria-label=""
              style="background-image:url({{image.path}});"
              class="bg-center cover aspect-ratio--object"></span>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="secondary mt4 f4 flex items-center flex-wrap gap2">
    Currently at
    <a
      href="https://shopflix.gr/"
      class="flex items-center link nowrap"
      target="_blank"><img
        src="/assets/logo-shopflix.svg"
        class="mr2 dib w2"
        alt="">Shopflix
    </a><span>|</span> Previously at
    <a
      href="https://www.thesmilinghippo.com/"
      class="flex items-center link"
      target="_blank"><img
        src="/assets/logo-tsh.svg"
        class="mr2 dib w2"
        alt="">The Smiling Hippo
    </a> and
    <a
      href="https://www.yourtempo.co/"
      class="flex items-center link nowrap"
      target="_blank"><img
        src="/assets/logo-tempo.png"
        class="mr2 dib w2"
        alt="">Tempo</a>
  </div>
</section>

<section id="work" class="container">
  
  <div class="pt6 mb5 flex align-center items-center gap2">
    <h2 class="f1-ns ttu mv0 nowrap">Select Projects</h2>
    <div class="bw1 bt b--faint w-100 mh3"></div>
  </div>  

  <div class="project-grid ">
    {% for project in site.data.works %}
      <div class="bg-faint mb3 overflow-hidden br4">
        <img src="{{ project.img }}" class="project-image bb bw1 b--faint" alt="">

        <div class="pa35">
          <h3 class="f4 mt0 mb2">{{ project.title }}</h3>
          <div class="secondary">{{project.skills }}</div>
            <div class="mt3">
              {% if project.case_study %}
                <a href="{{ project.case_study.url }}" class="mr2">{{ project.case_study.title }}</a>
                {% else %}
                  <div class="mr2 fw6 dib secondary">Case study soon</div>
              {% endif %}
              {% if project.live_site %}
                <a href="{{ project.live_site.url }}" target="_BLANK" class="">{{ project.live_site.title }}</a>
              {% endif %}
            </div>
        </div>
      </div>
    {% endfor %}

  </div>
  

</section>


<div class="container mt5">
  <a href="/{{page.lang}}/snippets" class="link">

    <div class="db br4 bg-faint flex flex-column flex-row-ns items-center-ns overflow-hidden grow-small">
      <div class="flex">
        {% for work in site.data.work-grid limit:2 %}
          <div style="min-width: 12rem;" class="w-50 br4 overflow-hidden">
            <div class="db aspect-ratio aspect-ratio--4x3">
            <span
              role="img"
              aria-label=""
              style="background-image:url({{work.img}});"
              class="bg-center cover aspect-ratio--object br2">
            </span>
          </div>
          </div>
        {% endfor %}
      </div>
  
      <div class="pa3 pl4-ns flex flex-column flex-shrink-1"> 
        <h2 class="ttu mt0 mb2">More works →</h2>
        <div class="measure fw4 secondary">
          Snippets from other projects — for clients or&nbsp;for&nbsp;fun.
        </div>
      </div>
    </div>

  </a>
</div>  

{% comment %} <section class="container-lg-ns pa3 work-grid pt4 pt5-ns">
  {% for grid-item in site.data.work-grid %}

    {% if grid-item.link.url %}
      <a
        href="{{ grid-item.link.url }}"
        class="flex flex-column justify-between pa3 bg-faint br3 grow-small no-underline"
        {% if grid-item.link.url contains 'http' %}target="_BLANK"{% endif %}>
      {% else %}
        <div class="flex flex-column justify-between pa3 bg-faint br3">
        {% endif %}
        <div class="flex items-center justify-between mb1">
          <h3 class="f3 f4-ns ma0 ttn mr2">{{ grid-item.title[page.lang] }}</h3>
          <div class="nowrap">{{ grid-item.link.title }}</div>
        </div>
        <div class="f5 secondary fw4">{{ grid-item.desc[page.lang] }}</div>
        <div class="db aspect-ratio aspect-ratio--4x3 mv3">
          <span
            role="img"
            aria-label=""
            style="background-image:url({{grid-item.img}});"
            class="bg-center cover aspect-ratio--object br2"></span>
        </div>
        <div class="flex justify-between">
          <div>
            {% for tag in grid-item.tags %}
              <div class="tracked tag tag-{{tag.color}} mb1 mr1">{{ tag.name }}</div>
            {% endfor %}
          </div>
          {% if grid-item.year %}
            <div class="fw3 white secondary">{{ grid-item.year }}</div>
          {% endif %}
        </div>
        {% if grid-item.link.url %}
        </a>
    {% else %}
      </div>
    {% endif %}
  {% endfor %}

</section>  {% endcomment %}

{% include more.html %}

<script async src="/assets/js/progress.js"></script>
{% comment %} <script async src="/assets/js/main.js"></script> {% endcomment %}


<!-- GPT JS scrolling -->

{% comment %} <script defer>

window.addEventListener('load', () => {
  document.querySelectorAll('.scroll-container').forEach(function (container) {
  const leftArrow = container.parentElement.querySelector('.left-arrow');
  const rightArrow = container.parentElement.querySelector('.right-arrow');

  // Initial check: hide the left arrow, right arrow is visible
  leftArrow.style.display = 'none';

  // Handle scrolling
  container.addEventListener('scroll', function () {
    const scrollLeft = container.scrollLeft;
    const maxScrollLeft = container.scrollWidth - container.clientWidth;

    // Show both arrows if not at the extremes
    if (scrollLeft === 0) {
      leftArrow.style.display = 'none';  // Hide left arrow at the start
    } else {
      leftArrow.style.display = 'flex';  // Show left arrow when scrolling right
    }

    if (scrollLeft >= maxScrollLeft) {
      rightArrow.style.display = 'none'; // Hide right arrow at the end
    } else {
      rightArrow.style.display = 'flex'; // Show right arrow when not at the end
    }
  });

  // Click events for arrows
  leftArrow.addEventListener('click', function () {
    container.scroll({
      left: 0,  // Scroll all the way to the beginning
      behavior: 'smooth'
    });
  });

  rightArrow.addEventListener('click', function () {
    container.scrollBy({
      left: 800,  
      behavior: 'smooth'
    });
  });
});
  });


</script> {% endcomment %}
